.ui-tooltip .ui-tooltip-text {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: black !important;
  background-color: aliceblue !important;
}

.ui-tooltip-arrow {
  display: none;
}

#center-inner th:last-of-type {
  width: 100% !important;
}

#center-inner th:last-of-type p-checkbox {
  float: left;
}

.block-body .ui-treenode-children .ui-tree-toggler {
  display: none !important;
}

* {
  font-family: arial, helvetica, tahoma, sans-serif;
}

.ui-datatable thead tr {
  border-width: 1px !important;
}
